<%= erb :_head %>

<body>
  <header>
    <div class="wrapper">
      <a href="/" id="logo">Group Buddies</a>

      <nav>
        <ul>
          <li><a id="nav-home" href="#home">Home</a></li>
          <li><a id="nav-who-we-are" href="#who-we-are">Who we are</a></li>
          <li><a id="nav-what-we-do" href="#what-we-do">What we do</a></li>
          <li><a id="nav-our-work" href="#our-work">What we did</a></li>
          <li><a id="nav-hire-us" href="#hire-us">Hire us</a></li>
          <li><a id="nav-contact-us" href="#contact-us">Contact us</a></li>
        </ul>
      </nav>

      <span id="slogan">
        <i class="gb-thought">Sharing ideas can change the world. It definitely changes us.</i> <a href="https://blog.groupbuddies.com/">Visit our blog</a>
      </span>
    </div>
  </header>

  <section id="home">
    <div class="wrapper">
      <h1>Group Buddies</h1>
      <p>Web & Mobile Handcrafters</p>

      <a href="#" id="arrow"></a>
    </div>
  </section>

  <section id="who-we-are">
    <div class="wrapper">
      <h1>We Are GB</h1>
      <p>We handcraft web and mobile products in a lean and agile culture.</p>
      <p>We study the problem, customers and target-audience so we can sketch a suited solution. Once we get it right, we design it to perfection.</p>
      <p>We thrive with solid and clean code. In order to ensure we achieve those high standards all the time, we've set up a rigorous and methodic workflow in which quality is key.</p>
      <ul id="team-list">
        <li class="member-thumbnail">
          <a href="https://github.com/azevedo-252">
            <img src="/images/bruno-circle-bw.png" alt="Bruno Azevedo">
            <span>Bruno Azevedo</span>
            <span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/gabrielgpoca">
            <img src="/images/gabriel-circle-bw.png" alt="Gabriel Poça">
            <span>Gabriel Poça</span>
            <span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/jferreiradzn">
            <img src="/images/joao-circle-bw.png" alt="João Ferreira">
            <span>João Ferreira</span>
            <span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/Naps62">
            <img src="/images/palhas-circle-bw.png" alt="Miguel Palhas">
            <span>Miguel Palhas</span>
            <span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/zamith">
            <img src="/images/zamith-circle-bw.png" alt="Luís Zamith">
            <span>Luís Zamith</span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/rmdgb">
            <img src="/images/roberto-circle-bw.png" alt="Roberto Machado">
            <span>Roberto Machado</span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/ronaldofsousa">
            <img src="/images/ronaldo-circle-bw.png" alt="Ronaldo Sousa">
            <span>Ronaldo Sousa</span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section id="what-we-do">
    <div class="wrapper">
      <h1>We are <span>handcrafters</span></h1>
      <ul>
        <li>
          <h2>Product Development</h2>
          <p>If you have nothing more than an idea, we'll help you develop it and bring it to life as an MVP. We'll even stand side by side with you as we carry it to a full blown product.</p>
        </li>
        <li>
          <h2>Web Development</h2>
          <p>Group Buddies is the name Web is our game. We'll build pretty much anything you want as long as it is on the web.</p>
        </li>
        <li>
          <h2>User Interface Design</h2>
          <p>If you have a product already online but you feel that it needs revamping, or you have the coding skills but your awesome product is not as catching to the eye as you believe it should be, we'll help you out.</p>
        </li>
        <li>
          <h2>Project Rescue and Quality Assurance</h2>
          <p>Your once beautiful, lean and fast paced project is coming to a halt? You are not sure which direction to go next? Are you not sure if your code is good, or you know it isn't but don't know what to do about it? We can help you out with that as well.</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="our-work">
    <div class="wrapper">
      <h1>Some of the stuff we've done before:</h1>

      <ul>
        <li class="thumbnail"><a href="/portfolio/coachme"><img alt="CoachMe" src="/images/portfolio/coachme.png"><span class="name">CoachMe</span> <span class="info">The perfect product for any coach. Game plan starts here.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/cohive"><img alt="cohive" src="/images/portfolio/cohive.png"><span class="name">cohive</span> <span class="info">The easiest management tool for cowork spaces.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/creatorsschool"><img alt="Creators School" src="/images/portfolio/creatorsschool.png"><span class="name">Creators School</span> <span class="info">Learn how to do, by doing. Teaching 15 people how to program, design and lead in a startup.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/isj"><img alt="inSpace Jobs" src="/images/portfolio/inspacejobs.png"><span class="name">inSpace Jobs</span> <span class="info">Sky is NOT the limit. Platform for job searching in the Space industry.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/healthkeep"><img alt="HealthKeep" src="/images/portfolio/healthkeep.png"><span class="name">HealthKeep</span> <span class="info">Platform where pacients and doctors can share their stories and experiences.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/roundabet"><img alt="Roundabet" src="/images/portfolio/roundabet.png"><span class="name">Roundabet</span> <span class="info">Sports Betting Platform that uses BitCoins instead of real money.</span></a></li>
      </ul>
    </div>
  </section>

  <section id="hire-us">
    <div class="wrapper">
      <h1>We'd love to hear from <span>you</span>.</h1>
      <p>Lets have a chat, we're quite the friendly bunch.</p>

      <form id="contact" action="/contact" method="post">
        <input name="name" type="text" placeholder="Your name" required><input name="email" type="email" placeholder="Your email" required>
        <textarea name="message" placeholder="Your message" required></textarea>
        <button type=submit>Send</button>
      </form>
    </div>
  </section>

  <footer id="contact-us">
    <div class="wrapper">
      <h1>Thanks for visiting!</h1>

      <section class="contact">
        <h3>Contact us</h3>
        <ul>
          <li><i class="icon-envelope-alt"></i><span>contact@groupbuddies.com</span></li>
          <li><i class="icon-phone"></i><span>+351 916 748 994</span></li>
          <li><i class="icon-map-marker"></i><span>Braga, Portugal</span></li>
        </ul>
      </section>

      <section class="connect">
        <h3>Connect with us</h3>
        <ul>
          <li><i class="icon-linkedin-sign"></i><a href="http://www.linkedin.com/company/group-buddies" id="linkedin">LinkedIn</a></li>
          <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/groupbuddies"  id="twitter">Twitter</a></li>
          <li><i class="icon-facebook-sign"></i><a href="http://www.facebook.com/groupbuddies" id="facebook">Facebook</a></li>
        </ul>
      </section>

      <section class="subscribe">
        <h3>Subscribe to us</h3>
        <form id="newsletter" action="/newsletter" method="post">
          <input type="email" name="email" placeholder="Your email" required>
          <button type="submit">Add to Newsletter</button>
        </form>
      </section>

      <p class="copyright-info">© <%= Time.now.year %> <a href="https://www.groupbuddies.com">Group Buddies</a>. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
