<%= erb :_head %>

<body>
  <header>
    <div class="wrapper">
      <a href="/" id="logo">Group Buddies</a>

      <nav>
        <ul>
          <li><a id="nav-home" href="#home">Home</a></li>
          <li><a id="nav-who-we-are" href="#who-we-are">About us</a></li>
          <li><a id="nav-what-we-do" href="#what-we-do">What we do</a></li>
          <li><a id="nav-our-work" href="#our-work">Our Work</a></li>
          <li><a id="nav-hire-us" href="#hire-us">Hire us</a></li>
          <li><a id="nav-contact-us" href="#contact-us">Contact us</a></li>
          <li><a id="nav-blog" href="http://blog.groupbuddies.com">Blog</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <section id="home">
    <div class="wrapper">
      <h1>Group Buddies</h1>
      <p>Web & Mobile Handcrafters</p>

      <a href="#" id="arrow"></a>
    </div>
  </section>

  <section id="who-we-are">
    <div class="wrapper">
      <h1>We are GB</h1>
      <p>We handcraft web and mobile products in a lean and agile culture.</p>
      <p>We study the problem, customers and target-audience so we can sketch a suited solution. Once we get it right, we design it to perfection.</p>
      <p>We're absolutely methodic about our code, so we use a test driven approach and submit it to constant code reviews, to make sure it is clean and enduring.</p>
      <ul id="team-list">
        <li class="member-thumbnail">
          <a href="https://twitter.com/papucho86">
            <img src="/images/fernando_thumbnail.png" alt="Fernando Araújo">
            <span>Fernando Araújo</span>
            <span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/jferreiradzn">
            <img src="/images/joao_thumbnail.png" alt="João Ferreira">
            <span>João Ferreira</span>
            <span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/Naps62">
            <img src="/images/miguel_thumbnail.png" alt="Miguel Palhas">
            <span>Miguel Palhas</span>
            <span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="https://twitter.com/zamith">
            <img src="/images/luis_thumbnail.png" alt="Luís Zamith">
            <span>Luís Zamith</span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="http://twitter.com/rmdgb">
            <img src="/images/roberto_thumbnail.png" alt="Roberto Machado">
            <span>Roberto Machado</span>
          </a>
        </li>
        <li class="member-thumbnail">
          <a href="http://twitter.com/ronaldofsousa">
            <img src="/images/ronaldo_thumbnail.png" alt="Ronaldo Sousa">
            <span>Ronaldo Sousa</span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section id="what-we-do">
    <div class="wrapper">
      <h1>We handcraft Products</h1>
      <ul>
        <li>
          <h2>Full-stack team</h2>
          <p>No challenge is too big for us. From the very first idea, passing through the MVP until you reach scalability, we are ready to turn your awesome project into the right product.</p>
        </li>
        <li>
          <h2>Programming is GB's official language</h2>
          <p>Got a beautiful layout but you need to breathe life into it? We got you. We're thorough and passionate about our code.</p>
        </li>
        <li>
          <h2>Beautiful Design solutions</h2>
          <p>Maybe you have something online that needs some redesigning or maybe you just have the code and want to make it look good. Whatever you need, we're perfect for it.</p>
        </li>
        <li>
          <h2>Steer your project into the right path</h2>
          <p>Need to pivot and want some fresh ideas to flow into your project? That sounds like a great task for us to help you with.</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="our-work">
    <div class="wrapper">
      <h1>Some of our projects</h1>

      <ul>
        <li class="thumbnail"><a href="/portfolio/coachme"><img alt="CoachMe" src="/images/portfolio/coachme.png"><span class="name">CoachMe</span> <span class="info">The perfect product for any coach. Game plan starts here.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/cohive"><img alt="cohive" src="/images/portfolio/cohive.png"><span class="name">cohive</span> <span class="info">The easiest management tool for cowork spaces.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/creatorsschool"><img alt="Creators School" src="/images/portfolio/creatorsschool.png"><span class="name">Creators School</span> <span class="info">Learn how to do, by doing. Teaching 15 people how to program, design and lead in a startup.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/isj"><img alt="inSpace Jobs" src="/images/portfolio/inspacejobs.png"><span class="name">inSpace Jobs</span> <span class="info">Sky is NOT the limit. Platform for job searching in the Space industry.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/healthkeep"><img alt="HealthKeep" src="/images/portfolio/healthkeep.png"><span class="name">HealthKeep</span> <span class="info">Platform where pacients and doctors can share their stories and experiences.</span></a></li>
        <li class="thumbnail"><a href="/portfolio/roundabet"><img alt="Roundabet" src="/images/portfolio/roundabet.png"><span class="name">Roundabet</span> <span class="info">Sports Betting Platform that uses BitCoins instead of real money.</span></a></li>
      </ul>
    </div>
  </section>

  <section id="hire-us">
    <div class="wrapper">
      <h1>Are you working on something cool?</h1>
      <p>Awesome! Tell us all about it.</p>

      <form id="contact" action="/contact" method="post">
        <input name="name" type="text" placeholder="Your name" required><input name="email" type="email" placeholder="Your email" required>
        <textarea name="message" placeholder="Tell us about your project" required></textarea>
        <button type=submit>Send</button>
      </form>
    </div>
  </section>

  <footer id="contact-us">
    <div class="wrapper">
      <section class="contact">
        <h3>Contact us</h3>
        <ul>
          <li><i class="icon-envelope-alt"></i><span>contact@groupbuddies.com</span></li>
          <li><i class="icon-phone"></i><span>+351 916 748 994</span></li>
          <li><i class="icon-map-marker"></i><span>Braga, Portugal</span></li>
        </ul>
      </section>

      <section class="connect">
        <h3>Connect with us</h3>
        <ul>
          <li><i class="icon-linkedin-sign"></i><a href="http://www.linkedin.com/company/group-buddies" id="linkedin">LinkedIn</a></li>
          <li><i class="icon-twitter-sign"></i><a href="http://twitter.com/groupbuddies"  id="twitter">Twitter</a></li>
          <li><i class="icon-facebook-sign"></i><a href="http://www.facebook.com/groupbuddies" id="facebook">Facebook</a></li>
        </ul>
      </section>

      <section class="subscribe">
        <h3>Subscribe to us</h3>
        <form id="newsletter" action="/newsletter" method="post">
          <input type="email" name="email" placeholder="Your email" required>
          <button type="submit">Add to Newsletter</button>
        </form>
      </section>

      <p class="copyright-info">© <%= Time.now.year %> <a href="http://www.groupbuddies.com">Group Buddies</a>. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
